<div class="bottom-footer" style="background-color:#222222;color:white">
    <div class="container clear">
        <div class="pull-left">
            <ul>
                <li><a href="//www.techinside.com/">BT Haberleri için Techinside.com</a></li>
                <li><a href="//sosyopat.com.tr/">Sosyopat Dijital Sosyal Medya Ajansı</a></li>
                <li><a href="javascript:void(0);" rel="nofollow">Uygulama İndir</a></li>
                <li><a href="//shiftdelete.net/teknoloji-haberleri">Teknoloji Haberleri</a></li>
            </ul>
        </div>
        
        <div class="pull-right app-area">
            <div class="clear">
                <div class="pull-left app-name">
                    SDN - Teknoloji Haberleri
                </div>
                @*<div class="pull-left">
                    <a target="_blank" class="store-badge" rel="nofollow" href="//itunes.apple.com/tr/app/sdn-mobil-teknoloji-haberleri/id373041706">
                        <i class="fa fa-apple"></i> App Store
                    </a>
                    <a target="_blank" class="store-badge" rel="nofollow" href="//play.google.com/store/apps/details?id=com.mobilike.sdn">
                        <i class="fa fa-android"></i> Google Play
                    </a>
                </div>*@
            </div>
        </div>
        <div class="pull-right app-area">
            <div class="clear">
                <div class="pull-left app-name">
                   TechnoLife
                </div>
                @*<div class="pull-left">
                    <a target="_blank" class="store-badge" rel="nofollow" href="https://itunes.apple.com/us/app/mediatrend/id445812455?mt=8">
                        <i class="fa fa-apple"></i> App Store
                    </a>
                    <a target="_blank" class="store-badge" rel="nofollow" href="//play.google.com/store/apps/details?id=net.shiftdelete.vdp&amp;hl=tr">
                        <i class="fa fa-android"></i> Google Play
                    </a>
                </div>*@
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
       
    </div>
</div>
