@model B1.Models.Deneme.Films
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>

    <ul>
        @for (int i = 1; i < 4; i++)
        {

           
           

            <li>@Model.sonuc</li>
        }

    </ul>
</div>


